In [ ]:
import numpy as np
c = np.random.randint(0,10,(10000,10000)) #0~10사이의 수를 범위로 가지는 1만x1만 사이즈의 행렬 생성
print(c)
c = c+1 #각 행렬의 element에 1씩 더함
print(c)

[[0 5 2 ... 5 3 6]
 [0 0 3 ... 0 5 0]
 [4 9 2 ... 4 4 6]
 ...
 [3 2 4 ... 1 3 5]
 [6 9 6 ... 2 6 0]
 [8 5 6 ... 9 9 0]]
[[ 1  6  3 ...  6  4  7]
 [ 1  1  4 ...  1  6  1]
 [ 5 10  3 ...  5  5  7]
 ...
 [ 4  3  5 ...  2  4  6]
 [ 7 10  7 ...  3  7  1]
 [ 9  6  7 ... 10 10  1]]

In [ ]:
for i in range(c.shape[0]): #c의 행의 수만큼 반복함
  if(i%2==0): #c의 행이 짝수 행이라면
    for j in range(c.shape[1]):
      c[i][j]=0 #c행에 있는 요소를 0으로 만들어줌

In [ ]:
c

array([[ 0,  0,  0, ...,  0,  0,  0],
       [ 7,  9,  9, ...,  9,  1,  6],
       [ 0,  0,  0, ...,  0,  0,  0],
       ...,
       [ 9, 10,  9, ...,  6,  8,  1],
       [ 0,  0,  0, ...,  0,  0,  0],
       [10,  3,  2, ...,  1, 10,  3]])

In [ ]:
for i in range(c.shape[0]): #c의 행의 수만큼 반복
    for j in range(c.shape[1]): #c의 열의 수만큼 반복
      if(j%2==0): #짝수열이면
        c[i][j]=0 #c[i][j]의 요소를 0으로 만듬
print(c)

[[ 0  0  0 ...  0  0  0]
 [ 0  1  0 ...  1  0  1]
 [ 0  0  0 ...  0  0  0]
 ...
 [ 0  3  0 ...  2  0  6]
 [ 0  0  0 ...  0  0  0]
 [ 0  6  0 ... 10  0  1]]

In [ ]:
import pandas as pd
a_series = pd.Series(['A','B','C','D','E','F','G'])
b_series = pd.Series([130,250,190,300,210,220,170])
c_series = pd.Series([1.9,2.6,2.2,2.9,2.4,2.3,2.2])
d_series = pd.Series([16.3, 10.2, 11.1, 7.1, 12.1, 13.2, 14.2])
df = pd.DataFrame({'name':a_series,'horse power' : b_series, 'weight' : c_series, 'efficiency' : d_series})
print(df)
## 생성한 시리지들을 모아 하나의 데이터프레임으로 만들어준다
## 파이썬 딕셔너리 구조로 열의 이름을 키로 데이터를 값으로 입력한다.

  name  horse power  weight  efficiency
0    A          130     1.9        16.3
1    B          250     2.6        10.2
2    C          190     2.2        11.1
3    D          300     2.9         7.1
4    E          210     2.4        12.1
5    F          220     2.3        13.2
6    G          170     2.2        14.2

In [ ]:
df.set_index('name', inplace = True)
print(df)

      horse power  weight  efficiency
name
A             130     1.9        16.3
B             250     2.6        10.2
C             190     2.2        11.1
D             300     2.9         7.1
E             210     2.4        12.1
F             220     2.3        13.2
G             170     2.2        14.2

In [ ]:
max_index = 0;
max =0;
for i in range(len(b_series)): #위에서 df를 만들때 사용한 series들을 활용함
  v= b_series[i]*d_series[i]  #a_series는 이름 b_series는 마력 d_series는 효율성을 나타낸다 
  if(v>max):
    max = v
    max_index = i; #반복문을 통해 가장 큰값을 가진 index를 뽑아내서 a_series에 통해 값을 추출한다
print("마력과 연비를 곱한 값중 최대값을 가진 차종 : ",a_series[max_index])

마력과 연비를 곱한 값중 최대값을 가진 차종 :  F

In [ ]:
#마력과 연비 사이의 상관관계 구하기
# 선형 회귀 분석을 통해 선형 회귀 모델의 절편과 계수 구하기
# 예측점수 출력

In [ ]:
import matplotlib